body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/133/637/original/globeBackground.jpg?1721082496);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: left;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  padding: 15px 15px;
  border-radius: 8px;
  font-size: 18px;
}

.container {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  max-width: 600px;
  padding: 15px 30px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.cities {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
/* targets the last item with the city class */
.cities:last-child {
  border-bottom: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time span {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}

.homepage {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 100px;
  padding: 10px;
  text-decoration: none;
}

.footer-container {
  background-color: #a2b0bd;
  border-radius: 8px;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

footer {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 18px;
  margin: 10px;
  margin-top: -80px;
}

a {
  color: #3a3436;
}
